@import "../../lib.scss";

.order-page-container {
  // .header {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   background: #fff;
  //   // padding: 1.5rem 2rem;
  //   padding: 15px 20px;
  //   box-shadow: 0 2px 4px -4px black;

  //   font-size: 20px;
  //   // font-size: 2rem;
  //   font-weight: bold;
  //   .anticon {
  //     margin-right: 10px;
  //     font-size: 22px;
  //     cursor: pointer;
  //   }
  //   > div:last-of-type {
  //     .anticon {
  //       margin-right: 20px;
  //       font-size: 28px;
  //     }
  //   }
  // }
  .main {
    display: flex;
    .statistics {
      flex: 1;
      padding: 100px 50px;
      h1 {
        font-size: 40px;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 26px;
      }
      .week {
        margin-bottom: 5px;
      }
      .statistics-inner {
        margin-top: 50px;
        display: flex;
        align-items: center;
        > div {
          flex-basis: 45%;
        }
      }
    }
    .table-info-container {
      flex: 1;
      display: flex;
      justify-content: space-between;
      .inner {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .table-info-inner {
        .top-info {
          cursor: pointer;
          padding: 15px 20px;
          font-weight: bold;
          font-size: 15px;
          .anticon {
            color: #535353;
            margin-left: 4px;
          }
        }
        .bill-list {
          .bill-item {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            font-size: 16px;
            &.bill-item-current {
              background: #c6daf6;
            }
            .check-box {
              // flex-basis: 20px;
              transform: scale(1.5);
              // margin-right: 20px;
            }
            .bill-name {
              // flex: 1;
              // text-align: left;
              flex-basis: 250px;
              > div:first-of-type {
                font-weight: bold;
              }
              .food-tip {
                color: #999;
                font-size: 14px;
              }
            }
            .materials {
              font-size: 12px;
              color: #999;
            }
            .count {
              flex-basis: 50px;
              text-align: right;
            }
            .price {
              flex-basis: 80px;
              text-align: left;
              .old-price {
                font-size: 14px;
                color: #999;
                text-decoration: line-through;
              }
            }
          }
        }
        .order-tabs {
          display: flex;
          align-items: center;
          > div {
            flex-basis: 50%;
            text-align: center;
            background: #ccc;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
            &.current-order-tab {
              background: #fff;
              box-shadow: 0 0 2px 2px #efefef;
            }
          }
        }
      }
      .paid-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #efefef;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
      }
      .table-bottom {
        padding: 15px 20px;
        .tatal-money-container {
          // display: flex;
          // justify-content: flex-end;
          // align-items: baseline;
          color: #999;
          .tatal-money {
            font-size: 22px;
            flex-basis: 80px;
            text-align: right;
            font-weight: bold;
            color: $bizex-pink;
            .old-price {
              text-align: right;
              color: #999;
              text-decoration: line-through;
              font-size: 12px;
              font-weight: 400;
            }
          }
          .tatal-money-top {
            display: flex;
            border: 1px solid #ccc;
            height: 40px;
            line-height: 40px;
            font-weight: bold;
            color: #000;
            font-size: 15px;
            padding-right: 10px;
            img {
              width: 20px;
              margin-right: 5px;
            }
            > div:first-of-type {
              flex-basis: 20%;
              text-align: center;
              border-right: 1px solid #ccc;
            }
            > div:last-of-type {
              flex: 1;
              display: flex;
              padding: 0 px;
              justify-content: space-between;
              align-items: center;
              .tatal-top-right {
                display: flex;
                color: #999;
                div {
                  color: #000;
                  margin-right: 10px;
                }
              }
            }
          }
          .tatal-money-content {
            border: 1px solid #ccc;
            border-top: none;
            display: flex;
            font-size: 12px;
            justify-content: space-between;
            font-size: 18px;
            font-weight: bold;
            > div {
              padding: 15px 5px;
            }
            .left {
              flex-basis: 40%;
              border-right: 1px solid #ccc;
              .left-line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .label {
                }
                .text {
                  font-weight: bold;
                  color: #000;
                  width: 40px;
                  text-align: left;
                }
              }
            }
            .content {
              display: flex;
              justify-content: center;
              flex-direction: column;
              flex-basis: 26%;
              text-align: right;
              font-weight: bolder;
              border-right: 1px solid #ccc;
              div {
                color: $bizex-pink;
                font-size: 24px;
              }
            }
            .right {
              flex: 1;
              padding: 15px 0;
              div {
                height: 50%;
                text-align: center;
              }
              > div:first-of-type {
                border-bottom: 1px solid #ccc;
              }
              > div:last-of-type {
                padding-top: 15px;
              }
            }
          }
        }
        .tatal-money-container-split {
          display: flex;
          justify-content: space-between;
          color: #999;
          > div:first-of-type {
            .total-money {
              font-weight: bold;
              font-size: 20px;
              color: $bizex-pink;
            }
          }
          > div:last-of-type span {
            color: #000;
            margin-left: 5px;
          }
          .total-money-right {
            font-weight: bold;
            font-size: 18px;
          }
        }
        .btn-group {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          button {
            cursor: pointer;
            font-size: 18px;
            text-align: center;
            flex-basis: 30px;
            padding: 10px 1px;
            // border-radius: 4px;
            border: 1px solid $bizex-pink;
            color: $bizex-pink;
          }
          // > div:last-of-type {
          //   background: $bizex-pink;
          //   color: #fff;
          //   margin-left: 10px;
          // }
          // > button:last-of-type {
          //   background: $bizex-pink;
          //   color: #fff;
          //   margin-left: 10px;
          // }
          button:disabled {
            background: #dddddd;
            color: #b9b3b3;
            border: 1px solid #b9b3b3;
            cursor: default;
          }
        }
      }
      .table-info-menus {
        padding-top: 20px;
        text-align: center;
        font-weight: bold;
        box-shadow: 0px 0 7px -6px black;
        .table-info-menu-item {
          padding: 15px 15px;
          cursor: pointer;
          position: relative;
          .table-info-childs-menu {
            text-align: center;
            font-weight: bold;
            position: absolute;
            top: -350%;
            z-index: 10;
            background: #fff;
            > div {
              padding: 20px 15px;
              cursor: pointer;
            }
            &.show {
              width: 100px;
              right: -100%;
              background-color: $bizex-pink;
              color: #fff;
              // transform: translate(90%);
              transition: all ease 0.5s;
            }
            &.hide {
              width: 0;
              right: 0;
              overflow: hidden;
              transition: all ease 0.5s;
            }
          }
        }
      }
    }
    .right-container {
      flex-basis: 970px;
      width: 970px;
      display: flex;
      background: #efefef;
      padding: 5px 0 0 5px;
    }
    .table-list {
      flex-basis: 860px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 6px;
      align-content: flex-start;
      .table-item {
        cursor: pointer;
        flex-basis: 160px;
        height: 160px;
        background: #fff;
        margin: 0 6px 6px 0;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        justify-content: space-between;
        // box-shadow: 0 0 3px 1px #fff;
        .table-id {
          height: 50px;
          font-weight: bold;
          font-size: 16px;
          color: $bizex-pink;
        }
        .money {
          font-size: 20px;
          font-weight: bold;
          color: gray;
        }
        .wait-plan-order-text {
          font-weight: bold;
          font-size: 20px;
        }
        &.eating {
          background: $bizex-pink;
          color: #fff;
        }
        &.wait-plan-order {
          background: #225258;
          color: #fff;
        }
        .edit-delete {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          height: 50px;
        }
        .anticon-edit,
        .anticon-delete {
          display: none;
          margin-right: 5px;
        }
        &.table-item:hover .anticon-edit,
        &.table-item:hover .anticon-delete {
          display: inline-block;
        }
      }
      .add-table {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .anticon {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
    .menu-list {
      flex-basis: 120px;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      .menu-item {
        flex-basis: 80px;
        width: 50px;
        text-align: center;
        cursor: pointer;
        > div {
          margin-right: 3px;
        }
        .anticon-edit,
        .anticon-delete {
          display: none;
          margin-right: 5px;
        }
      }
      .menu-item:hover {
        color: $bizex-pink;
      }
      .menu-item:hover .anticon-edit,
      .menu-item:hover .anticon-delete {
        display: inline-block;
      }
    }
  }
}
