@import "~antd/dist/antd.css";

@import "./lib.scss";

html {
  font-size: 62.5%;
  // background-color: $bizex-pink;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100%;
}

.primary-color {
  color: $bizex-blue;
}

.secondary-color {
  color: $bizex-pink;
}

.primary-button {
  color:white;
  border-radius: 0;
  background-color: $bizex-pink;
  border: none;
  font-family: gotham-medium, sans-serif ;
  font-size: 15px;
  &:hover {
    background-color: $bizex-pink;
    border: none;
    color: white !important;
  }
  &:focus {
    background-color: $bizex-pink;
    border: none;
    color:white !important;
  }
}

.secondary-button {
  color:white;
  border-radius: 0;
  background-color: $bizex-dark-blue;
  border: none;
  font-family: gotham-medium, sans-serif ;
  font-size: 15px;
  &:hover {
    color:white !important;
    background-color: $bizex-dark-blue;
    border: none;
  }
  &:focus {
    color:white !important;
    background-color: $bizex-dark-blue;
    border: none;
  }
}

.third-button {
  color: $bizex-primary-blue;
  border-radius: 0;
  background-color: white;
  border: 1px solid $bizex-primary-blue;
  font-family: gotham-medium, sans-serif ;
  font-size: 15px;
  &:hover {
    color: $bizex-primary-blue;
    background-color: white;
    border: 1px solid $bizex-primary-blue;
  }
  &:focus {
    color: $bizex-primary-blue;
    background-color: white;
    border: 1px solid $bizex-primary-blue;
  }
}

.forth-button {
  color: $bizex-primary-blue;
  border-radius: 0;
  background-color: white;
  border: 1px solid #f1f2f2;
  font-family: gotham-medium, sans-serif ;
  font-size: 15px;
  &:hover {
    border: 1px solid $bizex-primary-blue;
    color: $bizex-primary-blue;
    background-color: white;
  }
  &:focus {
    border: 1px solid #f1f2f2;
    color: $bizex-primary-blue;
    background-color: white;
  }
}

.ant-btn {
  border-radius: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.primary-boarder {
  border: 1px solid $bizex-primary-blue;
}