// $bizex-pink: #f45b69;
$bizex-pink: #ec008c;
$bizex-green: rgb(92, 223, 41);
$bizex-blue: #0b77db;

$bizex-primary-blue: #4a6282;
$bizex-typed-text: #95a1b4;
$bizex-primary-pink: #ec008c;
$bizex-background-color: #f1f2f2;
$bizex-dark-blue: #003357;