// $bizex-pink: #f45b69;
$bizex-pink: #ec008c;
$bizex-green: rgb(92, 223, 41);
$bizex-blue: #0b77db;

$bizex-primary-blue: #4a6282;
$bizex-typed-text: #95a1b4;
$bizex-primary-pink: #ec008c;
$bizex-background-color: #f1f2f2;
$bizex-dark-blue: #003357;

$bizex-bg-light1: #FBE6CA;
$bizex-bg-light2: #81D2E5;
$bizex-bg-light3: #fed296;
$bizex-bg-light4: #8BCFB6;
$bizex-bg-light5: #C1DFAD;
$bizex-bg-light6: #E2ECAF;

$bizex-bg-dark1: #509be1;
$bizex-bg-dark2: #95a1b4;
$bizex-bg-dark3: #5066e1;
$bizex-bg-dark4: #009283;
$bizex-bg-dark5: #fd8c3e;
$bizex-bg-dark6: #ec008c;
$bizex-bg-dark7: #016783;
$bizex-bg-dark8: #509be1;


$bizex-blue-dark: #4a6282;
$bizex-typed-text-dark: #95a1b4;
$bizex-pink-dark: #ec008c;
$bizex-background-color-dark: #4A4B6D;
$bizex-dark-blue-dark: #003357;
$bizex-blue-shadow-dark: rgba(74, 98, 130, 0.08);

$top-bar-height: 100px;
$rem-rate-from-pos: 0.625;
